In [1]:
import pandas as pd
import numpy as np
import random, os
import category_encoders as ce

import plotly.express as px
import plotly.graph_objects as go

import tqdm
from datetime import datetime

In [2]:
random_state = 42
os.environ['PYTHONHASHSEED'] = str(random_state)
random.seed(random_state)
np.random.seed(random_state)

In [3]:
os.getcwd()

'/Users/3ign0n/workspace/data-science/SIGNATE/SIGNATE_Career_Up_Challenge_2023/scuc23/notebooks'

In [4]:
%cd ..
%pwd

/Users/3ign0n/workspace/data-science/SIGNATE/SIGNATE_Career_Up_Challenge_2023/scuc23

'/Users/3ign0n/workspace/data-science/SIGNATE/SIGNATE_Career_Up_Challenge_2023/scuc23'

In [5]:
df0 = pd.read_csv('data/01_raw/train.csv')
df0

,id,region,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state,price
0,0,nashville,1949,bmw,excellent,6 cylinders,gas,115148,clean,manual,rwd,mid-size,convertible,orange,NaN,27587
1,1,state college,2013,toyota,fair,8 cylinders,gas,172038,clean,automatic,rwd,full-size,sedan,silver,pa,4724
2,2,wichita,1998,ford,good,6 cylinders,gas,152492,clean,automatic,fwd,full-size,SUV,silver,ks,10931
3,3,albany,2014,ford,excellent,4 cylinders,gas,104118,clean,manual,fwd,mid-size,SUV,blue,ny,16553
4,4,redding,2005,ford,excellent,6 cylinders,gas,144554,clean,manual,fwd,mid-size,sedan,red,ca,5158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27527,27527,williamsport,2008,ford,good,6 cylinders,gas,26660,clean,automatic,rwd,compact,truck,black,pa,32212
27528,27528,tulsa,2007,ford,excellent,8 cylinders,gas,108072,clean,automatic,rwd,full-size,pickup,black,NaN,5400
27529,27529,rochester,2019,jeep,like new,6 cylinders,gas,139908,clean,automatic,4wd,mid-size,SUV,white,ny,22227
27530,27530,rochester,2007,jeep,excellent,6 cylinders,gas,112326,clean,automatic,4wd,mid-size,sedan,white,ny,3054
27531,27531,orange county,2009,chevrolet,excellent,8 cylinders,gas,91813,rebuilt,automatic,rwd,full-size,van,white,ca,20801

In [6]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27532 entries, 0 to 27531
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            27532 non-null  int64
 1   region        27532 non-null  object
 2   year          27532 non-null  int64
 3   manufacturer  27532 non-null  object
 4   condition     27532 non-null  object
 5   cylinders     27532 non-null  object
 6   fuel          26293 non-null  object
 7   odometer      27532 non-null  int64
 8   title_status  27076 non-null  object
 9   transmission  27532 non-null  object
 10  drive         27532 non-null  object
 11  size          27532 non-null  object
 12  type          27076 non-null  object
 13  paint_color   27532 non-null  object
 14  state         24228 non-null  object
 15  price         27532 non-null  int64
dtypes: int64(4), object(12)
memory usage: 3.4+ MB

In [39]:
df0['cylinders']=df0['cylinders'].astype(str)

In [40]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27532 entries, 0 to 27531
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            27532 non-null  int64
 1   region        27532 non-null  object
 2   year          27532 non-null  int64
 3   manufacturer  27532 non-null  object
 4   condition     27532 non-null  object
 5   cylinders     27532 non-null  object
 6   fuel          26293 non-null  object
 7   odometer      27532 non-null  int64
 8   title_status  27076 non-null  object
 9   transmission  27532 non-null  object
 10  drive         27532 non-null  object
 11  size          27532 non-null  object
 12  type          27076 non-null  object
 13  paint_color   27532 non-null  object
 14  state         24228 non-null  object
 15  price         27532 non-null  int64
dtypes: int64(4), object(12)
memory usage: 3.4+ MB

In [7]:
df1 = pd.read_csv('data/01_raw/test.csv')
df1

,id,region,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state
0,27532,western slope,2015,chevrolet,excellent,4 cylinders,gas,92553,clean,automatic,fwd,full-size,SUV,red,NaN
1,27533,roseburg,2013,nissan,like new,4 cylinders,gas,134385,salvage,automatic,fwd,mid-size,sedan,black,or
2,27534,akron / canton,2011,volkswagen,good,4 cylinders,gas,102489,clean,automatic,fwd,full-size,sedan,black,oh
3,27535,denver,2016,jeep,excellent,6 cylinders,diesel,64310,clean,automatic,4wd,mid-size,SUV,red,co
4,27536,hickory / lenoir,1999,honda,excellent,8 cylinders,gas,180839,rebuilt,automatic,4wd,mid-size,SUV,silver,nc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27532,55064,great falls,2016,gmc,excellent,6 cylinders,gas,90902,rebuilt,automatic,fwd,full-size,truck,black,mt
27533,55065,las vegas,2012,nissan,excellent,4 cylinders,gas,27234,rebuilt,automatic,fwd,mid-size,sedan,white,nv
27534,55066,phoenix,2002,bmw,excellent,6 cylinders,gas,99761,clean,automatic,rwd,full-size,coupe,blue,az
27535,55067,colorado springs,2006,bmw,excellent,6 cylinders,gas,162279,clean,automatic,4wd,mid-size,sedan,silver,co
27536,55068,syracuse,2006,jeep,excellent,6 cylinders,gas,186965,clean,automatic,4wd,full-size,SUV,black,ny

In [42]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27537 entries, 0 to 27536
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            27537 non-null  int64
 1   region        27537 non-null  object
 2   year          27537 non-null  int64
 3   manufacturer  27537 non-null  object
 4   condition     27537 non-null  object
 5   cylinders     27537 non-null  object
 6   fuel          26042 non-null  object
 7   odometer      27537 non-null  int64
 8   title_status  27308 non-null  object
 9   transmission  27537 non-null  object
 10  drive         27537 non-null  object
 11  size          27537 non-null  object
 12  type          27308 non-null  object
 13  paint_color   27537 non-null  object
 14  state         24508 non-null  object
dtypes: int64(3), object(12)
memory usage: 3.2+ MB

In [43]:
df1['cylinders']=df1['cylinders'].astype(str)

In [44]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27537 entries, 0 to 27536
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            27537 non-null  int64
 1   region        27537 non-null  object
 2   year          27537 non-null  int64
 3   manufacturer  27537 non-null  object
 4   condition     27537 non-null  object
 5   cylinders     27537 non-null  object
 6   fuel          26042 non-null  object
 7   odometer      27537 non-null  int64
 8   title_status  27308 non-null  object
 9   transmission  27537 non-null  object
 10  drive         27537 non-null  object
 11  size          27537 non-null  object
 12  type          27308 non-null  object
 13  paint_color   27537 non-null  object
 14  state         24508 non-null  object
dtypes: int64(3), object(12)
memory usage: 3.2+ MB

In [8]:
def __preprocess_column_year(data: pd.DataFrame) -> pd.DataFrame:
    # 2999年以上の値はおかしいので、入力ミスと考え、-1000する
    data.loc[data['year']>=2999, 'year'] = data['year'] - 1000
    return data


def __preprocess_column_manufacturer(data: pd.DataFrame) -> pd.DataFrame:
    data['manufacturer'] = data['manufacturer'].str.lower()
    data['manufacturer'] = data['manufacturer'].str.normalize('NFKC')
    
    # nissanにunicodeの変な文字が混じっていた
    data['manufacturer'] = data['manufacturer'].str.replace(u"\u0455", 's')
    # toyotaにunicodeの変な文字が混じっていた
    data['manufacturer'] = data['manufacturer'].str.replace(u"\u0430", 'a')
    # subaru, saturnにunicodeの変な文字が混じっていた
    data['manufacturer'] = data['manufacturer'].str.replace(u"\u03b1", 'a')
    # volkswagenにunicodeの変な文字が混じっていた
    data['manufacturer'] = data['manufacturer'].str.replace(u"\u043e", 'o')
    # chryslerにunicodeの変な文字が混じっていた
    data['manufacturer'] = data['manufacturer'].str.replace(u"\u1d04", 'c')
    return data


def __preprocess_column_condition(data: pd.DataFrame) -> pd.DataFrame:
    # newとlike newがあるが、like newに寄せる。
    # newのodometerやyearの値見た感じ、新車ってことはありえないので
    data.loc[data['condition']=='new', 'condition'] = 'like new'
    return data


def __preprocess_column_cylinders(data: pd.DataFrame) -> pd.DataFrame:
    # 数値化する
    # otherという文字列もあるが、NaN扱いとなる
    data['cylinders'] = data['cylinders'].str.extract(r'(\d+)').astype(float)
    return data


def __preprocess_column_odometer(data: pd.DataFrame) -> pd.DataFrame:
    # オドメーターが負数というのはおかしいので、入力ミスと考え、正数に直す
    data.loc[data['odometer']<0, 'odometer'] = data['odometer'] * -1

    # 10万キロ超えたら買い替え検討、20万キロ超えたらだいぶやばいと言われているのに走行距離50万キロ超えは明らかな入力ミスと考え、一桁減らす
    data.loc[data['odometer']>500000, 'odometer'] = data['odometer'] / 10
    return data


def __preprocess_column_size(data: pd.DataFrame) -> pd.DataFrame:
    data['size'] = data['size'].str.replace('ー', '-')
    data['size'] = data['size'].str.replace('−', '-')    
    return data


def __preprocess_column_state(data: pd.DataFrame) -> pd.DataFrame:
    """
    regionと深い関係があり、多重共線性を生むのでドロップ
    """
    return data.drop(columns=['state'])


def preprocess_do_dummy_encoding(data: pd.DataFrame) -> pd.DataFrame:
    valid_columns = ["region","manufacturer","condition","fuel","title_status","transmission","drive","size","type","paint_color"]
    if 'price' in data:
        valid_columns.append('price')
    valid_data = data[valid_columns]
    df_enc = pd.get_dummies(valid_data, drop_first=True, dummy_na=True)

    # lightgbm.basic.LightGBMError: Do not support special JSON characters in feature name.
    # というエラーが出た。
    # https://github.com/microsoft/LightGBM/blob/c60bc739b0a8163e134c3df721b089020f838726/include/LightGBM/utils/common.h#L890-L896
    # ↑の中だと、カンマがNGのようなのでリネームする
    df_enc = df_enc.rename(columns=lambda s: s.replace(',', ' '))

    return df_enc



def __apply_preprocessing_rules(data: pd.DataFrame) -> pd.DataFrame:
    tmp_df = __preprocess_column_year(data)
    tmp_df = __preprocess_column_manufacturer(tmp_df)
    tmp_df = __preprocess_column_condition(tmp_df)
    tmp_df = __preprocess_column_cylinders(tmp_df)
    tmp_df = __preprocess_column_odometer(tmp_df)
    tmp_df = __preprocess_column_size(tmp_df)
    tmp_df = __preprocess_column_state(tmp_df)
    return preprocess_do_dummy_encoding(tmp_df)


df_train = __apply_preprocessing_rules(df0)
df_test = __apply_preprocessing_rules(df1)

In [9]:
df_train

,price,region_abilene,region_akron / canton,region_albany,region_albuquerque,region_altoona-johnstown,region_amarillo,region_ames,region_anchorage / mat-su,region_ann arbor,...,paint_color_custom,paint_color_green,paint_color_grey,paint_color_orange,paint_color_purple,paint_color_red,paint_color_silver,paint_color_white,paint_color_yellow,paint_color_nan
0,27587,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
1,4724,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2,10931,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
3,16553,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,5158,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27527,32212,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27528,5400,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27529,22227,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
27530,3054,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
27531,20801,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [10]:
df_test

,region_abilene,region_akron / canton,region_albany,region_albuquerque,region_altoona-johnstown,region_amarillo,region_ames,region_anchorage / mat-su,region_ann arbor,region_annapolis,...,paint_color_custom,paint_color_green,paint_color_grey,paint_color_orange,paint_color_purple,paint_color_red,paint_color_silver,paint_color_white,paint_color_yellow,paint_color_nan
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27532,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27533,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
27534,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27535,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
27536,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [11]:
import os
import random
import numpy as np

random_state = 42
os.environ['PYTHONHASHSEED'] = str(random_state)
random.seed(random_state)
np.random.seed(random_state)

In [16]:
import lightgbm as lgbm
import optuna

y_train = df_train['price']
X_train = df_train.drop(columns=['price'])


def objective(trial):    
    param = {
        'objective': 'mape',
        'metric': ['mape', 'mae'],
        'verbosity': -1,
        'boosting_type': trial.suggest_categorical('boosting-t', ['gbdt','dart']),
        'learning_rate': trial.suggest_float('learning_rate', 1e-2, 0.5, log=True),
        'lambda_l1': trial.suggest_float('lambda_l1', 1e-3, 1.0, log=True),
        'lambda_l2': trial.suggest_float('lambda_l2', 1e-3, 1.0, log=True),
        'num_leaves': trial.suggest_int('num_leaves', 32, 128),
        'feature_fraction': trial.suggest_float('feature_fraction', 0.1, 1.0, log=True),
        'bagging_fraction': trial.suggest_float('bagging_fraction', 0.1, 1.0, log=True),
        'bagging_freq': trial.suggest_int('bagging_freq', 1, 15),
        'min_child_samples': trial.suggest_int('min_child_samples', 2, 128),
        'seed': random_state
    }
       
    # insert code for getting X and y ready 
    train_data = lgbm.Dataset(X_train, label=y_train)

    eval_results = lgbm.cv(
        param,
        train_data,
        num_boost_round=200,
        nfold=5,
        stratified=False,
        shuffle=True,
        callbacks=[
            lgbm.log_evaluation(False)
        ]
    )
                
    return np.mean(eval_results['valid mape-mean'])+np.mean(eval_results['valid l1-mean'])


optuna.logging.set_verbosity(optuna.logging.ERROR)
study = optuna.create_study(direction='minimize')
study.optimize(objective, n_trials=2500)

print("params_{}".format(study.best_params))
print("value_{}".format(study.best_value))

params_{'boosting-t': 'dart', 'learning_rate': 0.4686940970865714, 'lambda_l1': 0.019588584650976515, 'lambda_l2': 0.116866751750321, 'num_leaves': 66, 'feature_fraction': 0.27480841415625223, 'bagging_fraction': 0.8687977861095996, 'bagging_freq': 10, 'min_child_samples': 38}
value_7256.156469593732